export STORAGE_BASE_DIR='/var/vmail'
export WEB_SERVER='NGINX'
export BACKEND_ORIG='MARIADB'
export BACKEND='MYSQL'
export VMAIL_DB_BIND_PASSWD='{{ vmail_db_bind_passwd }}'
export VMAIL_DB_ADMIN_PASSWD='{{ vmail_db_admin_passwd }}'
export MLMMJADMIN_API_AUTH_TOKEN='{{ api_auth_token }}'
export NETDATA_DB_PASSWD='{{ netdata_db_password }}'
export MYSQL_ROOT_PASSWD='{{ mysql_root_password }}'
export FIRST_DOMAIN='{{ le_domain }}'
export DOMAIN_ADMIN_PASSWD_PLAIN='{{ postmaster_password }}'
export USE_IREDADMIN='YES'
export USE_ROUNDCUBE='YES'
export USE_NETDATA='YES'
export USE_FAIL2BAN='YES'
export AMAVISD_DB_PASSWD='{{ amavisd_db_password }}'
export IREDADMIN_DB_PASSWD='{{ ired_db_passwd }}'
export RCM_DB_PASSWD='{{ rcm_db_passwd }}'
export SOGO_DB_PASSWD='{{ sogo_db_passwd }}'
export SOGO_SIEVE_MASTER_PASSWD='{{ sogo_password }}'
export IREDAPD_DB_PASSWD='{{ iredapd_db_password }}'
export FAIL2BAN_DB_PASSWD='{{ fail2ban_password }}'
#EOF